/* declarer une police perso */
body
{
	background-color: rgb(18, 109, 158);
	background-image: url(../images/floating_seagull.png);
	font-family: serif, 'Courier New', Courier, monospace;
	/* text-align: center; */
}
ul, ol
{
	list-style-type: none;
}
#conteneur
{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}
header
{
	width: 60%;
	min-width: 400px;
	max-width: 800px;
	margin: auto;
	padding-bottom: 40px;
	overflow: auto;
}
.up_arrow
{
	position: fixed;
	right: 0px;
	bottom: 0px;
	nav-down: auto;
}
.nav
{
	font-size: 1.4em;
	padding-top: 10px;
	background-image: url("../images/sea.webp");
	background-attachment: scroll;
	background-position: 20% 20%;
	/* border-bottom: 4px brown solid; */
	border-right: 4px rgb(120, 26, 0) solid;
	border-left: 4px rgb(120, 26, 0) solid;
	border-top: 4px rgb(120, 26, 0) solid;
	box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.6) ;
	text-shadow: 2px 2px 3px black;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	min-width: 200px;
	width: 90%;
	word-wrap: normal;
}
section
{
	color: greenyellow;
	text-align: center;
	font-size: 1.2em;
	background-image: url("../images/treasure\ map.jpeg");
	background-position: 30% 30%;
	background-attachment: scroll;
	border-bottom: 4px  rgb(120, 26, 0) solid;
	border-right: 4px rgb(120, 26, 0) solid;
	border-left: 4px rgb(120, 26, 0) solid;
	border-top: 4px rgb(120, 26, 0) solid;
	box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.6) ;
	text-shadow: 3px 3px 4px black;
	overflow: auto;
	min-width: 90%;
	max-width: 90%;
}
footer
{
	color: greenyellow;
	margin-bottom: 20px;
	font-size: 1.2em;
	width: 90%;
	background-image: url("../images/scroll.webp");
	background-position: 30% 30%;
	background-attachment: scroll;
	border-bottom: 4px rgb(120, 26, 0) solid;
	border-right: 4px rgb(120, 26, 0) solid;
	border-left: 4px rgb(120, 26, 0) solid;
	box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.6) ;
	text-shadow: 3px 3px 4px black;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
}
.title1
{
	margin-left: 5%;
	width: 40%;
	text-align: left;
}
.title2
{
	width: 44%;
	text-align: right;
}
.textblock1
{
	display: inline-block;
	margin-left: 5%;
	width: 40%;
	text-align: left;
}
.textblock2
{
	display: inline-block;
	width: 50%;
	text-align: right;
}
img
{
	border: 2px solid brown;
	box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.6) ;
}
.gifflottant
{
	float: inline-end;
}
.dessous
{
	clear: both;
}

.mouette
{
	color: rgb(165, 94, 0);
}
h1
{
	border-bottom: 8px brown groove;
	border-right: 8px brown groove;
	border-left: 8px rgb(225, 50, 50) groove;
	border-top: 8px rgb(225, 50, 50) groove;
	box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.6);	
	background-image: url("../images/bois.jpeg");
	background-attachment: fixed;
	text-decoration: underline;
	text-align: center;
	font-size: 3em;
	font-style: oblique;
	font-weight: bolder;
	color: rgb(206, 140, 55);
}
h2
{
	margin: auto;
	width: 40%;
	min-width: 400px;
	margin-bottom: 10px;
	margin-top: 10px;
	border-bottom: 8px brown groove;
	border-right: 8px brown groove;
	border-left: 8px rgb(225, 50, 50) groove;
	border-top: 8px rgb(225, 50, 50) groove;
	box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.6);	
	background-image: url("../images/bois.jpeg");
	background-attachment: fixed;
	font-size: 1.6em;
	font-style: italic;
	font-weight: bold;
	color: rgb(206, 140, 55);
}
h3
{
	display: inline-block;
	text-decoration: underline;
	font-style: italic;
}
footer strong
{
	color: rgb(165, 94, 0);
}
nav li
{
	text-align: left;
	text-decoration: underline;
}

a[title]
{
	color: rgb(222, 24, 10);
}
a:hover
{
	text-decoration: underline;
	color: green;
	font-style: italic;
}
/* a:active
{
	text-decoration: underline;
	color: #AAA;
}
a:focus
{
	text-decoration: underline;
	color: #AAA;
} */
nav a:visited
{
	color: rgb(212, 133, 28);
}

.companions
{
	position: absolute;
	right: 50%;
	bottom: 50%;
}
